trigger:
- devops2
- main
- devops

pool:
  vmImage: ubuntu-latest

steps:
- checkout: self
  persistCredentials: true

- script: |
    ls -al
    git fetch
    git checkout $(BRANCH)
    git remote remove origin
    git config --global user.name "tranvancongtanaakk"
    git config --global user.mail "tran.van.cong@tanaakk.com"
    git remote add origin https://$(GIT_TOKEN)@github.com/HITSERIES-FREEKEY-CRYPTO/sync-code.git
    git status
    git push origin $(BRANCH) -f
  displayName: "Sync code to github"
