name: Push to Another GitHub
on:
  push:
    branches:
      - main
jobs:
  push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Push to Another GitHub
        run: |
          ls -al
          git config --global user.name 'duocpv1101'
          git config --global user.email 'duocbkdn11@gmail.com'
          git remote add destination https://duocpv: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@github.com/duocpv1101/sync-code.git
          git fetch
          git push destination
