name: Push to Another GitHub
on:
  push:
    branches:
      - main
permissions:
  contents: write
jobs:
  push:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Push to Another GitHub
        run: |
          ls -al
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config user.name "github-actions[bot]"
          git remote add destination https://duocpv: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@github.com/duocpv1101/sync-code.git
          git config --list |grep user
          git remote -v
          git checkout main
          git fetch
          git push destination
