name: Push to Another GitHub
on:
  push:
    branches:
      - main
jobs:
  push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          ref: main
          persist-credentials: false
          fetch-depth: 0
      - name: Config Git Credential
        run: |
          git config user.email "actions@users.noreply.github.com"
          git config user.name "duocpv1101"
      - name: Push to GitHub
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.DUOCPV_TOKEN_2 }}
          repository: duocpv1101/sync-code
          branch: main
