name: Push to Another GitHub
on:
  push:
    branches:
      - main
permissions:
  contents: write
jobs:
  push:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Push to Another GitHub
        run: |
          ls -al
           git config --list |grep user
          git config --global user.name "${GITHUB_ACTOR}"
          git config --global user.email "${GITHUB_ACTOR_ID}+${GITHUB_ACTOR}@users.noreply.github.com"
          git remote add destination https://duocpv:${{ secrets.DUOCPV_TOKEN }}@github.com/duocpv1101/sync-code.git
          git config --list |grep user
          git remote -v
          git checkout main
          git fetch
          #git push destination
